.Inicio{
}

.inicio-cont{
	margin: 5px;
}

.inicio-cont .seccion{
	background: ghostwhite;
	margin: 10px;
	margin-top: 20px;
	padding: 10px;
}

.inicio-cont .seccion .categoria-titulo{
	margin: 10px;
	margin-left: 30px;
	color: gray;
	font-size: 25px;
	font-weight: lighter;
	cursor: default;
}

.inicio-cont .productos-stock{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin: 10px;
	margin-top: 10px;
	background: ghostwhite;

}

.inicio-cont .productos-stock .stock-cont{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
}

.tarjeta-producto{
	display: grid;
	grid-template-rows: 15% auto 30%;
	padding: 15px;
	margin: 10px;
	min-width: 250px;
	height: 300px;
	background: white;
	border: 1px solid aliceblue;
	border-radius: 5px;
	box-shadow: 2px 2px 10px rgba(200, 200, 200, 1.0);
	transition: transform 1s ease-in-out;
	transform: translateX(0);
}
.tarjeta-producto:hover{
	border: 1px solid skyblue;
	cursor: pointer;
}

.btn-stock{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;
	min-width: 50px;
	height: 50px;
	opacity: 0;
	background: white;
	border-radius: 5px;
	color: blue;
	border-radius: 100%;
	box-shadow: 2px 2px 25px rgba(200, 200, 200, .5);
	transition: opacity .5s ease-in-out;
	z-index: 10;
	cursor: pointer;
}

.btn-stock:first-child{
	margin-right: 0;
}
.btn-stock:last-child{
	margin-left: 0;
}

.tarjeta-producto .titulo{
	display: flex;
	align-items: center;
	overflow: hidden;
}

.tarjeta-producto .desc{
	padding: 5px;
	color: gray;
	overflow: hidden;
}

.tarjeta-producto .precio{
	padding: 5px;
	font-weight: bold;
	color: limegreen;
}
.tarjeta-producto .categoria p{
	display: inline;
	margin-top: 2px;
	padding: 3px;
	font-size: 12px;
	color: gray;
	background: aliceblue;
	border: 1px solid skyblue;
	border-radius: 5px;
}
.tarjeta-producto .cantidad{
	margin-top: 5px;
	padding: 5px;
	color: silver;
	font-size: 12px;
}

/*Vista modal del producto*/

.vm-inicio{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	background: rgba(200, 200, 200, .3);
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;
}

.vm-inicio .cont{
	background: white;
	padding: 5px;
	width: 500px;
	border-radius: 10px;
	box-shadow: 2px 2px 25px rgb(200, 200, 200);
}

.vm-inicio .cont .producto{
	padding: 10px;
	display: grid;
	grid-template-rows: auto auto auto;
}

.vm-inicio .cont .producto .cabecera{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.vm-inicio .cont .producto .cabecera .titulo{
	font-size: 20px;
	font-weight: bold;
}

.vm-inicio .cont .producto .cabecera .btn-cerrar{
	cursor: pointer;
	color: skyblue;
}

.vm-inicio .cont .producto .descripcion{
	padding: 5px;
	color: gray;
}

.vm-inicio .cont .producto .pie{
	padding: 5px;
	display: grid;
	grid-template-rows: auto auto auto;
}

.vm-inicio .cont .producto .precio{
	padding: 5px;
	color: limegreen;
}

.vm-inicio .cont .producto .categoria-cont{
	padding: 5px;
}

.vm-inicio .cont .producto .categoria{
	display: inline;
	padding: 2px;
	background: aliceblue;
	border: 1px solid skyblue;
	border-radius: 5px;
	cursor: default;
}

.vm-inicio .cont .producto .cantidad{
	padding: 5px;
	font-size: 12px;
	color: silver;
}